html, body{
  margin: 0;
  padding: 0;
  background-color: #6F7FC8;
  text-align: center;
}

body{
  background-image:url('/assets/images/bg.jpg');
  background-color:white;
  width:100%;
  height:100px;
}

h1,h2,h3,h4,h5{
  font-family: 'Stalemate', cursive;
  color: #C3CCF4;
}

p{
  font-family: 'Stalemate', cursive;
  color: #FFF;
}
a { color: #C3CCF4; }
a:hover { color: #92A0E3; }
.col-centered{
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
/* line 1, /home/xt/Documentos/nasa/wht/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 5, /home/xt/Documentos/nasa/wht/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 11, /home/xt/Documentos/nasa/wht/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 18, /home/xt/Documentos/nasa/wht/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 28, /home/xt/Documentos/nasa/wht/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 4, /home/xt/Documentos/nasa/wht/app/assets/stylesheets/welcome.scss */
#title-main {
  font-size: 55px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

