html, body{
  margin: 0;
  padding: 0;
  background-color: #6A7CCE;
  text-align: center;
}

h1,h2,h3,h4,h5{
  font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  color: #C3CCF4;
}

p{
  font-family: ‘Metrophobic’, Arial, serif; font-weight: 400;
  color: #FFF;
}
a { color: #C3CCF4; }
a:hover { color: #92A0E3; }