//iframe facebook
.fb_ltr{
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important;
}
//
.box-transparent{
  background-color: rgba(25, 0, 0, 0.5);
  padding: 5px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#title-main{
  font-family: 'Laila', serif !important;
  text-align: center !important;
  font-size: 70px;
}
