.col-centered{
    display:inline-block !important;
    float:none !important;
    /* reset the text-align */
    text-align:left !important;
    /* inline-block space fix */
    margin-right:-4px !important;
}
.mg-bottom-none{
  margin-bottom: 0;
}
.mg-top-bottom{
  margin-top: 10px;
  margin-bottom: 10px;
}
.bg-color-title{
  background-color: #032840 !important;
}
.bg-color-item{
  background-color: #1F5171 !important;
}
.border-item{
  border: 1px solid #55819D !important;
}