// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.p_style{
  font-family: 'Laila', serif !important;
  font-size: 15px !important;
  text-align: center;
}